body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    font-size: large;
    
    color: #fff;
    padding: 20px;
    text-align: center;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.service {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
}

footer {
    background-color: #b23c3c;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.service4{
    background-color: #983535;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    justify-content: right;
    
}

.h1{
    background-color: #983535;
    
}
