body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(236, 231, 225);
}

canvas {
    border: 1px solid #000;
}

#toolbar {
    margin-bottom: 10px;
}

button {
    margin-right: 10px;
    background-color: red;
    color :black
}


button:hover {
    background-color: green;
  }

/* h2{
    background-color: rgb(225, 220, 220);
    font-size: larger;
    /* font-color: rgb(#333); */
    /* text-align: center; */


.service {
    background-color: #841212;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 2000px;
    height: auto;
}